@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif, "Abril Fatface", serif;
  background-color: #f0f0f0;
}

.heading {
  font-size: 30px;
  font-family: "Abril Fatface";
  letter-spacing: 10px;
  margin-bottom: 3rem;
  border-left: solid green 5px;
  padding: 5px;
}
